RewriteEngine on

# url padrao http://localhost/7/7/2017/
# Muito mais em http://codigofonte.uol.com.br/codigos/criando-url-amigaveis-com-um-codigo-simples-e-funcional

#modelo de caminho: RewriteRule ^([a-z,0-9,A-Z,_-]+)\/([a-z,0-9,A-Z,_-]+)\/([a-z,0-9,A-Z,_-]+)\/?$ SEU_CAMINHO/amigavel.php?dia=$1&mes=$2&ano=$3

#regras para obtenção de GET no primeiro nível de pasta
RewriteRule ^([a-z,0-9,A-Z,_-]+)\/([a-z,0-9,A-Z,_-]+)\/([a-z,0-9,A-Z,_-]+)\/?$ work/post.php?dia=$1&mes=$2&ano=$3

#regra para obtenção de artigos por dada
RewriteRule ^([a-z,0-9,A-Z,_-]+)\/([a-z,0-9,A-Z,_-]+)\/([a-z,0-9,A-Z,_-]+)\/([a-z,0-9,A-Z,_-]+)\/?$ work/artigo.php?dia=$2&mes=$3&ano=$4

#regra para aplicações internas dividas por pastas
RewriteRule ^([a-z,0-9,A-Z,_-]+)\/$ work/$1.php

#regra para subendereços amigáveis
RewriteRule ^([a-z,0-9,A-Z,_-]+)$ work/$1.php





